.pagination {
  display: flex;
  list-style: none;

  li + li {
    margin-left: 5px;
  }

  a {
    padding: 0 0.2em;
    text-decoration: underline;
    color: #3ea8ff;
  }

  .isCurrent {
    padding: 0 0.2em;
    color: inset;
  }
}
